{% extends 'base.html.twig' %}

{% set colorInside = '#FFA500' %}
{% set colorOutside = '#1E90FF' %}

{% block body %}
<div
    data-controller="sensor-chart"
    class="row g-1 mt-1"
>
    <div class="chart-wrapper mb-3">
        <h2>Humidity</h2>
        <div class="m-1">
            <table class="table table-sm table-sensor m-0">
                {% for item in currentHumidity %}
                    <tr {% if loop.last %}class="last"{% endif %}>
                        <td style="color: {{ item.color }}">{{ item.name|capitalize }}</td>
                        <td style="color: {{ item.color }}; text-align: center;">{{ item.bat|number_format(2, ',', '.') }} V</td>
                        <td style="color: {{ item.color }}; text-align: center;">{{ item.ts }}</td>
                        <td style="color: {{ item.color }}; text-align: right;">{{ item.humidity|number_format(0, ',', '.') }} %</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
        <div data-sensor-chart-target="chartLastHours" class="chart-container"></div>
    </div>

    <div class="chart-wrapper">
        <h2>Dewpoint</h2>
        <div class="m-1">
            <table class="table table-sm table-sensor m-0">
                <tr>
                    <td style="color: {{ colorInside }}">Inside</td>
                    <td style="text-align: center; color: {{ colorInside }};">{{ currentDewpoint.insideTemperature }}°C</td>
                    <td style="text-align: center; color: {{ colorInside }};">{{ currentDewpoint.insideHumidity }}%</td>
                    <td style="text-align: right; color: {{ colorInside }};">{{ currentDewpoint.insideDewPoint }}</td>
                </tr>
                <tr>
                    <td style="color: {{ colorOutside }}">Outside</td>
                    <td style="text-align: center; color: {{ colorOutside }};">{{ currentDewpoint.outsideTemperature }}°C</td>
                    <td style="text-align: center; color: {{ colorOutside }};">{{ currentDewpoint.outsideHumidity }}%</td>
                    <td style="text-align: right; color: {{ colorOutside }};">{{ currentDewpoint.outsideDewPoint }}</td>
                </tr>
                <tr class="last">
                    <td colspan="2">
                        Ventilation: {{ currentDewpoint.ventilation }}
                    </td>
                    <td colspan="2" style="text-align: right">
                        Last seen: {{ currentDewpoint.ts }}
                    </td>
                </tr>
            </table>
        </div>
        <div data-sensor-chart-target="chartDewPoint" class="chart-container"></div>
    </div>
</div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script type="application/json" id="chart-data">
    {
        "dewPointInside": {
            "name": "Inside",
            "data": {{ insideDewPointSeries|json_encode|raw }},
            "color": "{{ colorInside }}"
        },
        "dewPointOutside": {
            "name": "Outside",
            "data": {{ outsideDewPointSeries|json_encode|raw }},
            "color": "{{ colorOutside }}"
        },

        "humiditySeries": [{% for sensor in humiditySeries %}
        {
            "name": "Humidity - {{ sensor.name }}",
            "data": {{sensor.data|json_encode|raw }},
            "color": "{{ sensor.color }}"
        }{% if not loop.last %},{% endif %}
        {% endfor %}]
    }
    </script>
{% endblock %}